<section class="home-section" id="home">
    <div class="container">
        <div class="home-wrapper">
            <h1 class="home-title">Secrets Lurk in the <span class="home-span"> Shadows</span> of Paris</h1>
            <p class="home-text">Uncover the mystery hidden beneath the city.</p>
            <a class="home-link pulse" href="https://play.google.com/store/apps/details?id=com.ffsvideogames.dc6&hl=en&gl=us">                
                <img src="/img/home/play.png" alt="google play" loading="lazy">
                <p>Play on Google Play</p>
            </a>
        </div>
    </div>
</section>
<section class="about-section" id="about">
    <div class="container about-container">
        <div class="about-wrapper">
            <div class="title-container about-title">
                <img src="/img/title/line.png" alt="line" loading="lazy">
                <h2>About the Game</h2>
                <img src="/img/title/line.png" alt="line" loading="lazy">
            </div>
            <h3>A City Wrapped in Shadows</h3>
            <div class="about-text-wrapper">
                <p>In Dark City: Paris, you'll find yourself in a version of the city where everything feels a bit off, like something's
                not right. Strange events begin to unfold across the city, and it’s up to the player to investigate what’s really
                happening. As you explore and solve puzzles, you'll start piecing together what's really going on - and trust me, it's
                not what you'd expect.</p>
            </div>
        </div>
        <picture>
            <source srcset="
                    /img/about/desk.png  1x,
                    /img/about/desk@2x.png 2x
                     " media="(min-width: 1439px)" />
            <source srcset="
                    /img/about/mob.png 1x,
                    /img/about/mob@2x.png 2x
                     " media="(max-width: 1438px)" />
            <img class="about-logo" src="/img/about/mob.png" alt="DARK CITY PARIS" loading="lazy" />
        </picture>
    </div>
</section>