<section class="home-section" id="home">
    <div class="container">
        <div class="home-wrapper">
            <h1 class="home-title">Secrets Lurk in the <span class="home-span"> Shadows</span> of Paris</h1>
            <p class="home-text">Uncover the mystery hidden beneath the city.</p>
            <a class="home-link pulse" href="https://play.google.com/store/apps/details?id=com.ffsvideogames.dc6&hl=en&gl=us">                
                <img src="/img/home/play.png" alt="google play" loading="lazy">
                <p>Play on Google Play</p>
            </a>
        </div>
    </div>
</section>