
.footer-container {
 padding-top: 52px;
 padding-bottom: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}

.footer-navigation {
  display: flex;
  justify-content: center;
  gap: 16px;
}

.ft1 {
  padding-right: 16px;
  border-right: 1px solid #2f3254;
}

.footer-text {
font-weight: 600;
  font-size: 12px;
}

@media only screen and (min-width: 1440px) {
  .footer-container {
padding-top: 40px;
padding-bottom: 40px;
    flex-direction: row;
    justify-content: space-between;
  }
.footer-logo{
order: 1;  
}
.footer-navigation{
order: 3;
}
.footer-text{
order: 2;
}
}