.home-section{
    background-image: url("/img/home/mob.png");
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: 100% 760px;
    height: 840px;
}
.home-wrapper{
    margin-top: 260px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}
.home-title{
    font-family: "EB Garamond", sans-serif;
        font-weight: 700;
        font-size: 48px;
        line-height: 1.08333;
        letter-spacing: -0.02em;
        text-align: center;
        color: #f1f5f9;
}
.home-span{
color: #ffb020;
}
.home-text{
    font-size: 20px;
    line-height: 1.1;
    text-align: center;
}
@keyframes pulse-animation {
    0% {
        transform: scale(1);
        opacity: 1;
    }

    50% {
        transform: scale(1.02);
        opacity: 1;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

.home-link.pulse {
    animation: pulse-animation 2s infinite;
    transition: transform 0.3s ease;
border-radius: 4px;
    padding: 16px 32px;
    width: 340px;
    height: 57px;
    background: #ffb020;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Libre Franklin", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1;
    text-align: center;
    color: #342800;
    gap: 12px; 
}
@media only screen and (min-width: 1440px) {
.home-section{
    background-image: url("/img/home/desk.png");

}
.home-wrapper{
    margin-top: 220px;
width: 800px;
margin-left: auto;
margin-right: auto;
}
.home-title{
font-size: 72px;
    line-height: 1.11111;
    letter-spacing: -0.01em;
}

.home-link.pulse {
width: 272px;
    height: 57px;
}
}